# How to import dataset in python using pandas library
Written by:Dr.Aammar\
date:11-18-2024\
Email:info@gmail.com

In [1]:
#step-1
#importing libraries
import pandas as pd

In [17]:
import openpyxl

In [16]:
#step-2
#reading/importing_dataset
df = pd.read_excel("pandas_01_day6.xlsx")

In [18]:
print(df)

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      76  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [19]:
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [20]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      76  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [21]:
df.shape

(87, 3)

In [22]:
df.info

<bound method DataFrame.info of     Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      76  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>